body{
	background-image: url("../image/planeteLac.jpg");
  	background-repeat: no-repeat; 
  	background-size:cover;
  	color:white;
	font-family: "Gill Sans", sans-serif;
	text-align: center;
	height:100%;
}

h1{
	font-size: 34px;
	font-style:bold;
}

h2{
	font-size: 24px;
	margin-bottom: 3%;
}

p{
	
	font-size: 1vw;
	line-height: 2em;
}

#titre{
	margin-top:2%;
	margin-bottom:3%;
}

#listeFormation{
	padding:15px 0;
}

.formation{
	background-color:rgba(0, 0, 0, 0.5);
	width:60%;
	margin: 0 auto;
	border-radius: 18px;
}


/* responsive */
@media only screen and (max-width: 450px) {
	#structure{
		width: 95%;
		background-color: transparent;
	}

	#carte{
		width: 100%;
	}
}