body{
	background-image: url("./image/repSpace.png");
	background-repeat: repeat-x;
	color:white;
	font-family: "Gill Sans", sans-serif;
}

h1{
	font-size: 3vw;
}

h2{
	font-size: 2vw;
	margin-bottom: 3%;
}

p{
	
	font-size: 1vw;
}

#containeurPricipale{
	
}

#structure{
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 100vh;
}

#accueil{
	padding-top: 2%;
}

#carte{
	width: 80%;
	margin-right: auto;
	background-color: rgba(0, 0, 0, 0.7);
	margin-left: auto;
	border-radius: 15px;
	padding: 1%;
}

#photo{
	margin-right: auto;
	margin-left: auto;
	border-radius: 100%;
	width: 15%;
}

.justifie{
	text-align: justify;
	padding: 0 3% 0 3%;
}

/* animation */

@keyframes defile {
	  0% { 
	  	background-position-x:   0; 
	  }
	100% { 
		background-position-x: 100vw; 
	}
}
body {
	-webkit-background-size: cover;
	animation: defile 50s linear infinite;
}	


/* responsive */
@media only screen and (max-width: 450px) {
	#structure{
		width: 95%;
		background-color: transparent;
	}

	#carte{
		width: 100%;
	}
}